@import "tailwindcss";

@theme {
  --color-primary-900: #1e40af;
  --color-primary-600: #3b82f6;
  --color-primary-400: #60a5fa;
  --color-slate-50: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-gray-800 antialiased;
}
